<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title> <!--carga de archivos static-->
    {% load static %}
	<!--css-->
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
	
	
	<!--js-->
	<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/js/script.js' %}"></script>
	
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>


</head>

<body>
	<!--barra de navegación-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	 <!-- <a class="navbar-brand" href="#">Navbar</a>-->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <!--<a class="nav-item nav-link active" href="#">Abrir </a>-->

		  <!--formulario para subir el archivo a una carpeta especifica-->
		  <form id="formularioprin" name="formularioprinc" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		  	<input type="file" name="archivo" id="subirArchivoCh" accept=".ch" style="display : none;" >
			 <a class="nav-item nav-link" id="btnAbrir" onclick="document.getElementById('subirArchivoCh').click();
		 	 document.getElementById('btnUp').style = 'display : block;'
		 	 document.getElementById('btnAbrir').style = 'display : none;'" >Abrir</a>
		 	 <input type="submit" value="Subir" id="btnUp"  class="btnsubir" >
		  </form>
		 <!---------------------------------------------->
		 
		  <a class="nav-item nav-link" href="#">Ejecutar</a>
		  <a class="nav-item nav-link" href="#">Mostrar Memoria</a>
		  <a class="nav-item nav-link" href="#">Paso a Paso</a>
		  <a class="nav-item nav-link" href="#">Salir</a>
		  <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
		</div>
	  </div>
	</nav>
	
	<!--contenido-->
		<!--nombre del programa, variables, acumulador y otros-->
	<section id="grande1">
		<section id="uno">
			<table>
					<tr>
							<td>
							Memoria:
							</td>
							<td id="cajaM">
								<input type="number" name="memoria" id="memoria" min="1" max="100" value="100" form ="formularioprin">
							</td>
					</tr>

					<tr>
							<td>
							Kernel:
							</td>
							<td id="cajaK">
								<input type="number" name="kernel" id="kernel" min="1" max="100" value="10" form="formularioprin"><!--kernel debe ser 69 por requerimientos-->
							</td>
					</tr>
				</table>
		</section>


		<section id="dos">
			<table>
				<tr>
					<td>
					Acumulador:
					</td>
					<td id="cajaAcum">
						<div id="acumulador"></div>
						<!--<input type="text" name="acumulador" id="acumulador">-->
					</td>

				</tr>
				<tr id="rowProg">
					<td>
					Programa:
					</td>
					<td id="cajaProg">
						<div id="programa">{{nombre}} </div>
						<!--<input type="text" name="programa" id="programa">-->
					</td>

				</tr>
				<tr>
					<td>
					PC:
					</td>
					<td id="cajaPC">
						<div id="pc"></div>
						<!--<input type="text" name="pc" id="pc">-->
					</td>

				</tr>


			</table>

		</section>
		
		<section class="overflow-auto" id="tres" >
			<!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
			
			
			<table class="table table-borderless table-hover table-sm">
			  <thead>
				<tr>
				  <th scope="col">Memoria</th>
				  <th scope="col">Instrucción</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th scope="row">1</th>
				  <td>Mark</td>
				  
			
				</tr>
				<tr>
				  <th scope="row">2</th>
				  <td>Jacob</td>
				  
				  
				</tr>
				
			  </tbody>
			</table>

			
		</section>
		
		<section class="overflow-auto" id="cuarta">
			
			<table class="table table-borderless table-hover table-sm">
				  <thead>
					<tr>
					  <th scope="col">Pos</th>
					  <th scope="col">Variables</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">1</th>
					  <td>Mark</td>


					</tr>
					<tr>
					  <th scope="row">2</th>
					  <td>Jacob</td>


					</tr>

				  </tbody>
			</table>
		
		</section>
		
		<section class="overflow-auto" id="quinta">
			<table class="table table-borderless table-hover table-sm">
				  <thead>
					<tr>
					  <th scope="col">Pos</th>
					  <th scope="col">Etiquetas</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">1</th>
					  <td>Mark</td>


					</tr>
					<tr>
					  <th scope="row">2</th>
					  <td>Jacob</td>


					</tr>

				  </tbody>
			</table>
			
		</section>
		
		<section class="overflow-auto" id="sexta">
			<table class="table table-borderless table-hover table-responsive-sm" >
				  <thead>
					<tr>
					  <th scope="col">ID</th>
					  <th scope="col">Programa</th>
						<th scope="col">#Ins</th>
						<th scope="col">RB</th>
						<th scope="col">RLC</th>
						<th scope="col">RLP</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">1</th>
					  <td>xxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>


					</tr>
					<tr>
					  <th scope="row">2</th>
					    <td>xxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>


					</tr>
					  
					  <tr>
					  <th scope="row">3</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>
					  <tr>
					  <th scope="row">4</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>
					  <tr>
					  <th scope="row">5</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>
					  <tr>
					  <th scope="row">6</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>

				  </tbody>
			</table>
		
		</section>
		
	</section>
	
		<!--contenedores de imágenes-->
	<section id="grande2">
		<figure>
			<img src="{% static 'core/img/screen_tablet.png' %}" id="pantalla" alt="">
			
			<div class="overflow-auto" id="contPantalla"> 
			{% for sin in  sintax %}
				{{sin}}
			{% endfor %}
				<!--{{sintax}}-->
			</div>
			
			<section id="modo">
				Modo Kernel
			</section>
			
			<img src="{% static 'core/img/impresora.png' %}" id="impresora" alt="">
			
			<div id="contImpresora"> 
				hi there
			</div>
			
		</figure>
	</section>
		
	
		<!--Para cargar la memoria-->
	<section class="overflow-auto" id="grande3">
		
		<table class="table table-borderless table-hover table-sm">
				  <thead>
					<tr>
					 <th scope="col"></th>
					  <th scope="col">Dirección</th>
					  <th scope="col">Contenido</th>
					</tr>
				  </thead>
				  <tbody>
					<tr> <!--acumulador-->
				      <td><img src="{% static 'core/img/icon_a.png' %}" alt="" height="20px" width="20px"></td>
					  <th scope="row">0</th>
					  <td></td>
					</tr>

					<tr><!--kernel-->
					  <td><img src="{% static 'core/img/icon_os.png' %}" alt="" height="20px" width="20px"></td>
					  <th scope="row">1</th>
					  <td></td>
					</tr>

					<tr><!--memoria disponible-->
					  <td><img src="{% static 'core/img/icon_mem.png' %}" alt="" height="20px" width="20px"></td>
					  <th scope="row">2</th>
					  <td></td>
					</tr>

					<tr><!--Programa-->
					  <td><img src="{% static 'core/img/icon_progr.png' %}" alt="" height="20px" width="20px"></td>
					  <th scope="row">3</th>
					  <td>vayasi salto salto</td>
					</tr>

				  </tbody>
			</table>
	
	</section>

	<!-- modal-->
	<section>
			<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
		Launch demo modal
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" id="textoModal" class="form-control" placeholder="Another input placeholder" name="ModalInput">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
			</div>
		</div>
		</div>
	</section>	
	
</body>
</html>
