<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title> <!--carga de archivos static-->
    {% load static %}
	<!--css-->
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
	
	
	<!--js-->
	<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/js/script.js' %}"></script>
	<script src="{% static 'core/js/ajax.js' %}"></script>
	
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>


</head>

<body>
	<!--barra de navegación-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	 <!-- <a class="navbar-brand" href="#">Navbar</a>-->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <!--<a class="nav-item nav-link active" href="#">Abrir </a>-->

		  <!--formulario para subir el archivo a una carpeta especifica-->
		  <form id="formularioprin" name="formularioprinc" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		  	<input type="file" name="archivo" id="subirArchivoCh" accept=".ch" style="display : none;" required >
			 <a class="nav-item nav-link" id="btnAbrir" onclick="actionOpen()" >Abrir</a> <!--boton abrir-->
		 	 <input type="submit" value="Subir" id="btnUp"  class="btnsubir" > <!--boton subir-->
		  </form>
		 <!---------------------------------------------->
		 
		 <form id="eject" name="eject" action="" method="get"> {#{% csrf_token %}#}
		  <!--<a class="nav-item nav-link" href="{% url 'home' %}">Ejecutar</a>-->
			<input type="text" value="ejecutarOk" name="ejecute" style='display: none;'>
			<input type="hidden" class="nav-item nav-link" href="{% url 'home' %} "style='display: none;'>	
		  <input type="submit" value="Ejecutar" id="ejecutar" class="nav-item nav-link" style='display: none;'>
		  <a class="nav-item nav-link" id="btnEjecutar" onclick="actionEjc()" >Ejecutar</a>
		</form>

		  <a class="nav-item nav-link" href="#" onclick="showHidden()">Mostrar Memoria</a>
		  <a class="nav-item nav-link" href="#">Paso a Paso</a>
		  <a class="nav-item nav-link" href="#">Salir</a>
		  <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
		</div>
	  </div>
	</nav>
	
	<!--contenido-->
		<!--nombre del programa, variables, acumulador y otros-->
	<section id="grande1">
		<section id="uno">
			<table>
					<tr>
							<td>
							Memoria:
							</td>
							<td id="cajaM">
								{%if memoriaTotal == NULL %}
								<input type="number" name="memoria" id="memoria" min="2" max="100" value="100" form ="formularioprin" required>
								{%else%}
								<input type="number" name="memoria" id="memoria" min="2" max="100" value="{{memoriaTotal}}" form ="formularioprin" required>
								{%endif%}
							</td>
					</tr>

					<tr>
							<td>
							Kernel:
							</td>
							<td id="cajaK">
								{%if kernel == NULL %}
								<input type="number" name="kernel" id="kernel" min="1" max="100" value="10" form="formularioprin" required> <!--kernel debe ser 69 por requerimientos-->
								{%else%}
								<input type="number" name="kernel" id="kernel" min="1" max="100" value="{{kernel}}" form="formularioprin" required> <!--kernel debe ser 69 por requerimientos-->
								{%endif%}
							</td>
					</tr>
				</table>
		</section>

		<!--aqui se muestra lo relacionado con el acumulador, nombre prog y linea activa-->
		<section id="dos">
			<table>
				<tr>
					<td>
					Acumulador:
					</td>
					<!--aqui se muestra el acumulador -->
					<td id="cajaAcum">
						<div id="acumulador">{{acum}}</div>
						
						<!--<input type="text" name="acumulador" id="acumulador">-->
					</td>

				</tr>
				<tr id="rowProg">
					<td>
					Programa:
					</td>
					<!--aqui se muestra lo relacionado con el nombre del prog en ejec-->
					<td id="cajaProg">
						<div id="programa">{{nombre}} </div>
						<!--<input type="text" name="programa" id="programa">-->
					</td>

				</tr>
				<tr>
					<td>
					PC:
					</td>
					<!--aqui se muestra lo relacionado con la linea que está activa en la ejecución-->
					<td id="cajaPC">
						<div id="pc">{{linAct}}</div>
						<!--<input type="text" name="pc" id="pc">-->
					</td>
				</tr>
			</table>
		</section>

		<!--aqui se muestra lo relacionado con las instruciones del prog que están en ejec (pos memoria e instruccion individual)-->
		<section class="overflow-auto" id="tres" >
			<!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
			<table class="table table-borderless table-hover table-sm">
			  <thead >
				<tr >
				  <th scope="col" style="background-color: white; text-align: center;">Memoria</th>
				  <th scope="col" style="background-color: white; text-align: center;">Instrucción</th>
				</tr>
			  </thead>
			  <tbody>
				{% for pos, cod in codProAct.items %}  <!--codProActi.codProAct-->
					<tr>
					<!--<th scope="row"></th>-->
					<td>{{pos}}</td> <!--codProActi.posCodProAct--> <!--posiciones en memoria-->
					
					<td>{{cod}}</td> <!--codigo del programa  en memoria-->
					
					</tr>
				{%endfor%}
				<!--
				<tr>
				  <th scope="row">2</th>
				  <td>Jacob</td>
				  
				  
				</tr>
				-->
			  </tbody>
			</table>

			
		</section>

		<!--aqui se muestra lo relacionado con las variables que están en el prog(pos memoria y nombre)-->
		<section class="overflow-auto" id="cuarta">
			<table class="table table-borderless table-hover table-sm">
				  <thead>
					<tr>
					  <th scope="col"style="background-color: white; text-align: center;">Pos</th>
					  <th scope="col"style="background-color: white; text-align: center;">Variables</th>
					</tr>
				  </thead>
				  <tbody>

				  {% for pos, var in varAct.items %}
					<tr>
					<!--<th scope="row"></th>-->
					<th scope="row">{{pos}}</th>
					
					<td>{{var}}</td>
					
					</tr>
				   {%endfor%}

					<!--<tr>
					  <th scope="row">1</th>
					  <td>Mark</td>


					</tr>
					<tr>
					  <th scope="row">2</th>
					  <td>Jacob</td>


					</tr>-->

				  </tbody>
			</table>
		
		</section>
		<!--aqui se muestra lo relacionado con la etiquetas que están en el prog(pos memoria y nombre)-->
		<section class="overflow-auto" id="quinta">
			<table class="table table-borderless table-hover table-sm">
				  <thead>
					<tr>
					  <th scope="col" style="background-color: white; text-align: center;">Pos</th>
					  <th scope="col" style="background-color: white; text-align: center;">Etiquetas</th>
					</tr>
				  </thead>
				  <tbody>
				  
				  {% for pos, eti in etiqAct.items %}
					<tr>
					<!--<th scope="row"></th>-->
					<td>{{pos}}</td>
					
					<td>{{eti}}</td>
					
					</tr>
					{%endfor%}
				  <!--
					<tr>
					  <th scope="row">1</th>
					  <td>Mark</td>


					</tr>
					<tr>
					  <th scope="row">2</th>
					  <td>Jacob</td>


					</tr>
					-->
				  </tbody>
			</table>
			
		</section>
		<!--aqui se agrega todo lo relacionado con el prog (id, nombre, #ins, rb, rlc, rlp)-->
		<section class="overflow-auto" id="sexta"> 
			<table class="table table-borderless table-hover table-responsive-sm" >
				  <thead>
					<tr>
					  <th scope="col" style="background-color: white; text-align: center;">ID</th>
					  <th scope="col" style="background-color: white; text-align: center;">Programa</th>
						<th scope="col" style="background-color: white; text-align: center;">#Ins</th>
						<th scope="col" style="background-color: white; text-align: center;">RB</th>
						<th scope="col" style="background-color: white; text-align: center;">RLC</th>
						<th scope="col" style="background-color: white; text-align: center;">RLP</th>
					</tr>
				  </thead>
				  <tbody>
	
				  {% for id, pro in prog.items %}	
					<tr>
						<!--<th scope="row"></th>-->
						<td>{{id}}</td>
						<td>{{pro.prog}}</td>
						<td>{{pro.ins}}</td>
						<td>{{pro.rb}}</td>
						<td>{{pro.rlc}}</td>
						<td>{{pro.rlp}}</td>
						</tr>
					{% endfor %}
					<!--
					<tr>
					  <th scope="row">1</th>
					  <td>xxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>


					</tr>
					<tr>
					  <th scope="row">2</th>
					    <td>xxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>


					</tr>
					  
					  <tr>
					  <th scope="row">3</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>
					  <tr>
					  <th scope="row">4</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>
					  <tr>
					  <th scope="row">5</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>
					  <tr>
					  <th scope="row">6</th>
					    <td>xxxxx</td>
						<td>xxxx</td>
						<td>xxxx</td>
						<td>xxxxx</td>
						<td>xxxxxx</td>


					</tr>
					-->
				  </tbody>
			</table>
		
		</section>
		
	</section>
	
		<!--contenedores de imágenes (pantalla e impresora)-->
	<section id="grande2">
		<figure>
			<img src="{% static 'core/img/screen_tablet.png' %}" id="pantalla" alt="">
			
			<div class="overflow-auto" id="contPantalla">  <!--div que muestra la informacion que debe aparecer por pantalla-->
				{% for i in pantallaBack %}
					<!--<th>{{i}}</th>-->
					<div class="panta">{{i}}</div>
				{% endfor %}
				
			</div>
			
			<!-- {#{% for sin in  sintax %}#}
					{#{{sin}}#} esto sirve para mostrar una lista con cada elemento que tenga dentro-->
			
			<section id="modo">
			{%if modo == "" %}
				Modo Kernel
			{%else%}
				{{modo}}
			{%endif%}
			</section>
			
			<img src="{% static 'core/img/impresora.png' %}" id="impresora" alt="">
			
			<div id="contImpresora"> <!--div que muestra la informacion que debe aparecer en la impresora-->
				{% for i in impre %}
					<th>{{i}}</th>

				{% endfor %}
				
				{#{{impre}}#}
			</div>
			
		</figure>
	</section>
		
	
		<!--Donde se muestra lo que está en memoria-->
	<section id="grande3" class="overflow-auto hidden" >
		
		<table class="table table-borderless table-hover table-sm">
				  <thead>
					<tr>
					 <th scope="col"></th>
					  <th scope="col">Dirección</th>
					  <th scope="col">Contenido</th>
					</tr>
				  </thead>
				  <tbody>
				  {% if mem.items == NULL %}
						<tr> <!--acumulador-->
								<td><img src="{% static 'core/img/icon_a.png' %}" alt="" height="20px" width="20px"></td>
								<th scope="row">{{forloop.counter0}}</th>
								<td>{{acum}}</td>
						</tr>

						{% for i in memKer%}
						<tr> 
							<td><img src="{% static 'core/img/icon_os.png' %}" alt="" height="20px" width="20px"></td>
							<th scope="row">{{i}}</th>
							<td>***kernel ch***</td>
						</tr>
						{%endfor%}

					{% else %}
						{% for pos, cont in mem.items%}
							{% if forloop.first %}
								<tr> <!--acumulador-->
									<td><img src="{% static 'core/img/icon_a.png' %}" alt="" height="20px" width="20px"></td>
									<th scope="row">{{forloop.counter0}}</th>
									<td>{{acum}}</td>
								</tr>
							{% elif cont == "***kernel ch***" %}
							<tr> 
								<td><img src="{% static 'core/img/icon_os.png' %}" alt="" height="20px" width="20px"></td>
								<th scope="row">{{pos}}</th>
								<td>{{cont}}</td>
							</tr>

							{% else %}
							<tr><!--Programa-->
								<td><img src="{% static 'core/img/icon_progr.png' %}" alt="" height="20px" width="20px"></td>
								<td>{{pos}}</td>
								<!--<th scope="row">3</th>-->
								<td>{{cont}}</td>
							</tr>
							{% endif %}
						{%endfor%}

					{%endif%}
					<!--
					{#{% for i in kernel %}#}
					<tr> kernel
					  <td><img src="{% static 'core/img/icon_os.png' %}" alt="" height="20px" width="20px"></td>
					  <th scope="row">{{i}}</th>
					  <td>***Kernel ch***</td>
					</tr>
					{#{%endfor%}#}
					-->
					{% for i in memoriaDis %}
					<tr><!--memoria disponible-->
					  <td><img src="{% static 'core/img/icon_mem.png' %}" alt="" height="20px" width="20px"></td>
					  <th scope="row">{{i}}</th>
					  <td></td>
					</tr>
					{%endfor%}


					

					<!-- programa anterior
					<tr>
					  <td><img src="{% static 'core/img/icon_progr.png' %}" alt="" height="20px" width="20px"></td>
					  <th scope="row">3</th>
					  <td>vayasi salto salto</td>
					</tr>
					-->
				  </tbody>
			</table>
	
	</section>

	<!-- modal para despues-->
	<section>
			<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalparaLeer">
		Launch demo modal
		</button>

		<!-- Modal -->
		<div class="modal fade" id="ModalparaLeer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Se leen los datos (Introduzca el valor que corresponde)</h5>
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>-->
			</div>
			<div class="modal-body">
				<form id="modaLeer" name="modaLeer" action="" method="get"> 
				<input type="text" id="textoModal" class="form-control" placeholder="Ingrese aquí el valor" name="ModalInput" required>
				</form>
			</div>
			<div class="modal-footer">
				<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
				<!--<button type="button" class="btn btn-primary">Save changes</button>-->
				 <input type="submit" value="Listo" id="btnLeer" class="btn btn-primary" form ="modaLeer">
				<!--<button type="button" class="btn btn-primary">Listo</button>-->
			</div>
			</div>
		</div>
		</div>
	</section>	
</body>
</html>
