<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title> <!--carga de archivos static-->
    {% load static %}
	<!--css-->
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
	
	
	<!--js-->
	<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	
	<!--favicon-->
	<link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>


</head>

<body>
    
    <form method="post" id="salida"> {% csrf_token %}
        <div style='margin: 10px 0px;'> Ha salido del ch máquina, ¿desea regresar?</div>
        <input type="submit" value=" Sí " id="btnPaso" class="btn btn-primary">
        <button type="button" class="btn btn-secondary">No</button>
    </form>




</body>